@media only screen and (min-width: 64rem) {
    /*******HEADER AND NAVIGATION*******/
    header { 
        grid-template-columns: 30px 1fr auto;
        background-color: var(--main-color);
        padding: 0;
    }
    header:nth-child(4){
        justify-content: flex-end;
    }
    .hamburguer {
        display: none;
    }
    .navigation {
        display: block;
        flex-direction: row;
        border-bottom: 1px solid #ddd;
        background-color: var(--main-color)
    }
    .navigation ul {
        display: flex;
        font-size: 1.5rem;
    }
    .navigation a {
        border-bottom: none;
    }
    header img {
        margin-bottom: .5rem;
    }



    #showplaces{
        margin: .5rem 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

        /******Footer*******/
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: var(--secondary-color);
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    footer:nth-child(2) {
        align-self: baseline;
    }

}