@media screen and (min-width: 420px) {
    * {
        font-size: 1.4rem;
    }
    nav img {
        width: 250px;
        height: auto;
    }
    header {
        display: flex;
        align-items: center;
        padding: 0.5rem 2rem;
    }

    #menu {
        display: none;
    }


    nav ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav a {
        display: inline-block;
        color: black;
        padding: 0.15rem 0.5rem;
    }
    

}
