@media only screen and (min-width: 38rem){
    :root{
    --main-color: #8bd3dd;
    --secondary-color: #f3d2c1;
    --text-color: #172c66;
    --highlight: #fef6e4;
    --headline: #001858;
    }


    /*******HEADER AND NAVIGATION*******/
    header { 
        grid-template-columns: 30px auto;
    }
    .hamburguer {
        display: none;
    }
    .navigation {
        display: block;
        flex-direction: row;
        border-bottom: 1px solid #ddd;
        background-color: var(--main-color)
    }
    .navigation ul {
        display: flex;
    }
    .navigation a {
        border-bottom: none;
    }

    /******in the body*******/
    main {
        display: grid;
        grid-template-columns: auto minmax(150px, 400px);
    }
    main h1 {
        grid-column: 1/3;
    }
    section p {
        padding-bottom: 4rem;
    }
    main > section:nth-of-type(3) {
        grid-column: 1/3 
    }

    #filteredcourses {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px; 
    margin-top: 15px;
    }
    
    
}